Source: hashstack-agent-plugin-oclhashcat
Maintainer: Jeremi Gosney <jgosney@sagitta.pw> 
Section: misc
Priority: important
Standards-Version: 3.9.2
Build-Depends: p7zip-full, make 

Package: hashstack-agent-plugin-oclhashcat
Architecture: amd64
Depends: hashstack-amd-driver, ${shlibs:Depends}, ${misc:Depends}
Description: oclHashcat agent plugin for Hashstack
 oclHashcat agent plugin for Hashstack

